body
{
	background-image: url(wp4676582.jpg);
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1Name , #player2Name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#wordDisplay
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#button{
	background-image: url(desktop-purple-wallpaper-whatspaper.jpg);
}
#input1{
	background-image: url(desktop-purple-wallpaper-whatspaper.jpg);
}
#input2{
	background-image: url(desktop-purple-wallpaper-whatspaper.jpg);
}
h3{
	color: white;
	font-weight: bold;
}
h1{
	color: white;
	font-weight: bold;
}
label{
	color: white;
	font-weight: bold;
}